@import "toolkit";

.tableBody {
  background-color: #fefefe;
  border: 1px solid #d6d4d4;
  margin: 0 auto;
}

.spanningwrapper {
  position: relative;
  margin-top: 1px;
}

.hourmarkers {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.markercell {
  height: 45px;
  border-bottom: 1px dotted #ddd;
}

.dualmarker {
  height: 22px;
  border-bottom: 1px dotted #ddd;
}

.timeTd {
  height: 46px;
}

.timing {
  height: 30px;
  border-bottom: 1px solid #ddd;
  padding-right: 2px;
  padding-top: 15px;
  text-align: center;
}

.tgCol {
  border-left: 1px solid #ddd;
  vertical-align: top;
}

.tgColWr {
  width: 32px;
  position: relative;
  top: -1px;
}

.body {
  font-size: inherit;
  padding: 20px;
}

.header {
  border-bottom: 1px solid $border-color;
  margin: 0 0 20px 0;
  padding-bottom: 20px;
}
